# Python
__pycache__/
*.pyc

# env
.env
venv/

# RAG data
index/
files/
parts/
temp/
json_results/

# vector db
*.parquet
chroma-collections.parquet
chroma-embeddings.parquet

# logs
logs/
log/

# misc
.DS_Store
.ipynb_checkpoints